
/* apply 페이지 */
.page_wrap {
    height: 2000px;
    font-size: 16px;
    background: #FFFFFF;
    background-blend-mode: darken;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    align-items: center;
}

.page .content_wrap {
    position: absolute;
    top: 167px;
    width: 70%;
}

/* 제목 */
.page .title_wrap {
    font-size: 40px;
    position: absolute;
    top: 75px;
    left: 71px;
}


.page_wrap .apply_form {
    display: flex;
    flex-direction: column;
}

.apply_form > * {
    margin-bottom:55px;
    font-size: 22px;
}

.apply_form span.ko, p.ko {
    color: #737373;
}

.apply_form span.ko {
    margin-left: 55px;
    font-size: 23px;
}

/* 이메일 형식 검증 */

#error_mail {
    font-size:22px;
    color:#EA3434;
    margin-top:10px;
    display:inline;
}


.page_wrap span.ko, p.ko {
    color: #737373;
}

.page_wrap span.ko {
    margin-left: 55px;
    font-size: 17px;
}


/* Introducing 텍스트 박스 */
.introducing {
    position: relative;
}


#letter_count {
    position: absolute;
    top: 15px;
    right: 38px;
    vertical-align:top;
    font-size: 18px;
}

#max_letters{
    position: absolute;
    top: 15px;
    right: 6px;
    font-size: 18px;
}


/* 신청서 안내문 */
.page_wrap .notice {
    font-family: 'Source Sans 3';
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    margin-top: 30px;
    color: black;
}

/* 신청서 제출 버튼 */
.page_wrap .submit_btn {
    text-align: center;
}

button.submit {
    position: relative;
    width: 240px;
    font-size: 30px;
    margin: 41px 0 70px 0;
}

/* 로딩 안내 메시지 */
.loading {
    font-family: inherit;
    display: none;
    justify-content: center;
    font-size:21px;
}
