
/* Skate Lessons 페이지 */
.page_wrap {
    width:auto;
    height:auto;
    margin:29px;
    background: #FFFFFF;
    box-shadow: inset 4px 4px 40px 8px rgba(0, 0, 0, 0.3);
    border-radius: 150px;
    padding-bottom:45px;
    margin:0 150px;
}



/* 페이지 제목 */
.page .title_wrap {
    width:auto;
    height:235px;
}

.page .page_title {
    font-family: 'Oleo Script';
    font-size:40px;
    position: relative;
    left: 234px;
    top: 103px;
}


/* 지도 */
.content_wrap > .location {
    width:auto;
    height:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 80px 40px 80px;
}

.map_wrap {
    position: relative;
}
img.map {
    width:385px;
    height:501px;
}

img.pin {
    width: 20px;
    height: 33px;
    /* background: url(pngwing.png); */
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
}

.modal img.pin {
    width: 14.5px;
    height: 24px;

}

span.city {
    margin-left: 7px;
}

#Seoul {
    position: absolute;
    left:115px;
    top:71px;
}

#Gangneung {
    position: absolute;
    left:235px;
    top:29px;
}

/* 모달창 */
.modal {
    font-weight: bold;
    width:301px;
    height:392px;
    background: #FFFFFF;
    background-blend-mode: darken;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    display: none;
    flex-direction: column;
    align-items: center;

    font-family: 'Overlock';
    

}


.modal .modal_title_wrap {
    width:37%;
    font-size: 27px;
    margin-top:27px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.modal .loc_instr_list {
    width:210px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: column;
    justify-content: space-evenly;
    align-items: center;

    overflow-y: scroll;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}

.loc_instr_list:hover {
    overflow: overlay; 
  }

.modal .member_wrap {
    margin-bottom: 30px;
}

.modal .member_wrap .profile_wrap{
    display: flex;
    width:37%;
    justify-content:space-between;
    align-items: center;
    font-size: 25px;

}

.modal img.profile_image {
    width:50px;
    height:50px;
    margin-right: 20px;
}

/* 강사 목록 */
.instructors_list {
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.instructors_list .profile_card {
    position: relative;
    width: 78%;
    height:267px;
    background: #FFFFFF;
    background-blend-mode: darken;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    font-family: 'Play';
    margin: 40px 0;
}

.instructors_list img.profile {
    position: absolute;
    width: 94px;
    height:94px;
    left: 10%;
    top: 42px;
}

.profile_card .name {
    font-size: 18px;
    position: absolute;
    left: 29%;
    top:34px;
    font-weight: bold;
}

.profile_card .location {
    font-size: 14px;
    position: absolute;
    height: auto;
    left: 65%;
    top: 36px;
}

.profile_card .experience {
    font-size: 15px;
    position: absolute;
    left: 29%;
    top: 59px;
}

.profile_card .introducing {
    font-size: 16px;
    position: absolute;
    line-height: 31px;
    left: 29%;
    top: 93px;
    padding-right: 30px;
    letter-spacing: -0.01em;
}

.profile_card button.contact {
    position: absolute;
    width:148px;
    left: 50%;
    top: 78%;
    transform: translate(-50%);
    font-size: 18px;
}

/* 버튼 공통 스타일 */
button {
    font-family: 'Stylish';
    cursor: pointer;
    color:black;
    font-size:27px;
    background-color:rgba(217, 217, 217, 0.6);
    border-radius: 0.5px;
    border:none;
    padding: 12px 20px;
}


/* 저작권 */
#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    left: 0;
    bottom: 0;
}

#copyright p {
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}

/* a 태그 스타일 설정 */
a {
    color:#202020;
    text-decoration:none;
}