/* IM Fell English SC */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

/* Fuzzy Bubbles */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

/* Stylish */
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

/* Oleo Script */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

/* Overlock */
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

/* Play */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html, body {
    display: block;
    max-width: 1920px;
    height : 100%;
    color:#202020;
}

/* 타이틀 이미지 */
.title {
    display:block;
    width: auto;
    height: 200px;
    left: 116px;
    top: 51px;
}

.title .logo_img {
    position: relative;
    width: 381px;
    height: 94px;
    left: 200px;
    top: 51px;
}

/* 인트로 페이지 */
.intro {
    display:flex;
    flex-direction: column;
    width:auto;
    height:586px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.intro .first_phrase {
    font-family: 'IM FELL English SC';
    font-size: 36px;
}

.intro .second_phrase {
    font-family: 'Fuzzy Bubbles';
    font-size:49px;
    margin-top:13px;
}

.intro .ko {
    font-size: 21px;
    margin-top: 60px;
}

/* 탭 버튼 */
.intro .btn_wrap {
    width:100%;
    margin-top :160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro .btn_wrap * {
    margin:0 21px;
    width:100%;
    width:250px;
    height:38px;
    font-family: 'Stylish';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 10px;
    /* or 74% */
    text-align: center;
    letter-spacing: -0.02em;
}



/* 페이지 */
.page {
    height: auto;
    display: flex;
    justify-content: center;
}

.page_wrap {
    font-family: 'Oleo Script';
    width:60%;
    position:relative;
    display: flex;
    flex-direction: column;
}

.explanation {
    margin-top:2px;
    font-size: 17px;
    line-height: 30px;
}

.page_wrap .description {
    margin-bottom: 83px;
    line-height: 40px;
}

/* 텍스트박스 공통 스타일 */
input, textarea {
    background: #F3F3F3;
    border: 1px solid #939393;
    width: 75%;
    height: 40px;
    font-size: 17px;
    padding-left: 10px;
    margin-top:21.5px ;
} 

textarea {
    width:95%;
    height:140px;
    resize: none;
    position: relative;
    padding:10px 13px;
}

/* 버튼 공통 스타일 */
button {
    font-family: 'Stylish';
    cursor: pointer;
    color:black;
    font-size:27px;
    background-color:rgba(217, 217, 217, 0.6);
    border-radius: 0.5px;
    border:none;
    padding: 12px 20px;
}


/* 저작권 */
#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    left: 0;
    bottom: 0;
}

#copyright p {
    margin-top:15px;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}