@media (max-width: 500px) {
    /* Apply Lessons 페이지 */
    .page {
        display: flex;
        justify-content: center;
    }

    .page_wrap {
        font-family: 'Oleo Script';
        font-size: 14px;
        display: flex;
        width:93%;
        height:2040px;
        margin:0px;
        text-align: left;
    }

    .page .content_wrap {
        position: absolute;
        width: auto;
        top: 95px;
        margin: 0 33px;
        justify-content: center;
    }

    /* 제목 */
    .page .title_wrap {
        width: auto;
        height: auto;
        position: relative;
        left: 0;
        top:28px;
    }

    .page .page_title {
        font-family: 'Oleo Script';
        font-size:26px;
        position: relative;
        left: 0px;
        top: 0px;
    }

    /* 요청서 폼 */
    .page_wrap .description {
        margin-bottom: px;
        line-height: 40px;
        margin-left: 0;
        text-align: left;
        
    }


    .content_wrap .apply_form {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .apply_form > * {
        margin-bottom:55px;
        font-size: 15px;
    }

    .apply_form input, textarea {
        margin-top:21.5px ;
    }

    .apply_form .explanation {
        margin-top:2px;
        font-size: 15px;
        line-height: 30px;
    }

    .apply_form span.ko, p.ko {
        color: #737373;
    }

    .apply_form span.ko {
        margin-left: 33px;
    }

    /* introducing 텍스트 박스 */
    .introducing {
        position: relative;
    }
    .introducing textarea {
        border: none;
        background: #EFEFEF;
        border-radius: 5px;
        height: 194px;
        width: 93%;
    }

    .introducing #letter_count {
        position: absolute;
        top: 15px;
        right: 44px;
        vertical-align:top;
    }

    .introducing #max_letters{
        position: absolute;
        top: 15px;
        right: 6px;
    }


    /* 신청서 안내문 */
    .page_wrap .notice {
        font-family: 'Source Sans 3';
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        margin-top: 50px;
        color: black;
    }

    /* 신청서 제출 버튼 */
    .page_wrap .submit_btn {
        text-align: center;
    }

    button.submit {
        position: relative;
        width: 240px;
        font-size: 30px;
        margin: 70px 0 50px 0;
    }

    /* 텍스트박스 공통 스타일 */
    input {
        border:0;
        border-bottom:1.5px solid black;
        background: none;
        width: 97%;
        height: 35px;
        font-size:18px;
        padding-left: 7px;
    }
}