@media (max-width: 1020px) {
    /* Request Lessons 페이지 */
    .page {
        display: flex;
        justify-content: center;
    }

    .page_wrap {
        font-family: 'Oleo Script';
        font-size: 17.5px;
        display: flex;
        width:93%;
        height:1400px;
        flex-direction: column;
        margin:0px;
        text-align: center;
    }

    .page .content_wrap {
        position: absolute;
        width: auto;
        top: 110px;
        margin: 0 33px;
        justify-content: center;
    }

    /* 제목 */
    .page .title_wrap {
        width: auto;
        height: auto;
        position: relative;
        left: 0;
        top:28px;
    }

    .page .page_title {
        font-family: 'Oleo Script';
        font-size:34px;
        position: relative;
        left: 0px;
        top: 0px;
    }

    /* 요청서 폼 */
    .page_wrap .description {
        margin-bottom: px;
        line-height: 40px;
        margin-left: 0;
        text-align: left;
        
    }


    .content_wrap .request_form {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .request_form > * {
        margin-bottom:55px;
        font-size: 19px;
    }

    .request_form input, textarea {
        margin-top:21.5px ;
    }

    .request_form .explanation {
        margin-top:2px;
        font-size: 15px;
        line-height: 30px;
    }

    .request_form span.ko, p.ko {
        color: #737373;
    }

    .request_form span.ko {
        margin-left: 55px;
    }


    /* 프로필 이미지 업로드 박스 */
    input.profile_upload {
        width:100%;
    }

    /* Message 텍스트 박스 */
    .message {
        position: relative;
    }
    .message textarea {
        border: none;
        background: #EFEFEF;
        border-radius: 5px;
        height: 194px;
        width: 93%;
    }

    .message #letter_count {
        position: absolute;
        top: 15px;
        right: 44px;
        vertical-align:top;
    }

    .message #max_letters{
        position: absolute;
        top: 15px;
        right: 6px;
    }


    /* 신청서 안내문 */
    .request_wrap .notice {
        font-family: 'Source Sans 3';
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        margin-top: 176px;
        color: black;
    }

    /* 신청서 제출 버튼 */
    .page_wrap .submit_btn {
        text-align: center;
    }

    button.submit {
        position: relative;
        width: 240px;
        font-size: 30px;
        margin: 70px 0 50px 0;
    }

    /* 텍스트박스 공통 스타일 */
    input {
        border:0;
        border-bottom:1.5px solid black;
        background: none;
        width: 97%;
        height: 35px;
        font-size:18px;
        padding-left: 7px;
    }
}