@media(max-width: 700px) {
    html, body {
        display: block;
        height : 100%;
        color:#202020;
    }

    /* 타이틀 이미지 */
    .title {
        display:block;
        width: auto;
        height: 200px;
        left: 116px;
        top: 51px;
    }

    .title .logo_img {
        position: relative;
        width: 212px;
        height: 54px;
        left: 29px;
        top: 63px;
    }

    /* 인트로 페이지 */
    .intro {
        display:flex;
        flex-direction: column;
        width:auto;
        height:586px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .intro .first_phrase {
        font-family: 'IM FELL English SC';
        font-size: 25px;
    }

    .intro .second_phrase {
        font-family: 'Fuzzy Bubbles';
        font-size:27px;
        margin-top:24px;
    }

    .intro .ko {
        font-size: 15px;
        margin-top: 46px;
    }

    /* 탭 버튼 */
    .intro .btn_wrap {
        width:100%;
        margin-top :160px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .intro .btn_wrap * {
        margin:0px;
        width: 45%;
        height: 80px;
        font-family: 'Stylish';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 20px;
        /* or 74% */
        text-align: center;
        letter-spacing: -0.02em;
    }



    /* 페이지 */
    .page {
        height:auto;
    }

    /* 버튼 공통 스타일 */
    button {
        font-family: 'Stylish';
        cursor: pointer;
        color:black;
        font-size:27px;
        background-color:rgba(217, 217, 217, 0.6);
        border-radius: 0.5px;
        border:none;
        padding: 12px 20px;
    }


    /* 저작권 */
    #copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        left: 0;
        bottom: 0;
    }

    #copyright p {
        margin-top:15px;
        font-size: 15px;
        line-height: 1.5;
        text-align: center;
    }
}